<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
		<a href="http://hyunjunkim.com" target="_blank">hyunjunkim.com</a><br />
		<a href="mailto:timeisonourside@gmail.com">timeisonourside@gmail.com</a>
</p>
